[receive]
	requireContributorAgreement = true
[submit]
	action = merge always
	mergeContent = true
[access "refs/heads/*"]
	label-Verified = -1..+0 group Android Maintainers
	label-Code-Review = -2..+2 group Android Maintainers
	forgeCommitter = group TMP3
	forgeServerAsCommitter = group TMP3
	push = group TMP3
	pushMerge = group TMP3
[access "refs/heads/master"]
	label-Verified = -1..+1 group Android Maintainers
	submit = group Android Maintainers
[project]
[access]
	inheritFrom = Platform-Unrestricted-Projects
